<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Page Title Here</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    </head>

<body>
    <nav class="BGLgt">
        <ul>
           <li><a href=""><img src="http://via.placeholder.com/50?text=LOGO" alt="logo"></a></li>
        </ul>
        <ul class="mainNav">
            <li><a href="#" target="_self">Home</a></li>
            <li>|</li>
            <li><a href="#" target="_self">Portfolio</a></li>
            <li>|</li>
            <li><a href="#" target="_self">About Me</a></li>
            <li>|</li>
            <li><a href="#" target="_self">Contact</a></li>
        </ul>
    </nav>
        <header class="padMed borBotMedDrk">
           <h1>Jon L. Doe</h1>
        </header>
        <main>
<!--
          <header class="col12 padSm centBlock">
              
          </header>
-->
           <section class="row col10 centBlock multiRow">
                <article class="padSm col4">
                    <figure class="mediaBox"><img class="imgRes" src="http://via.placeholder.com/800x400?text=ARTWORK" alt="Describe your Image">
                    <figcaption class="BGDrkTr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci omnis aliquid consequatur ullam recusandae.
                    </figcaption>
                    </figure>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit inventore quibusdam quisquam facere pariatur ab, tempora, magnam totam quidem atque obcaecati ipsum minima sequi ipsa, voluptate nam perspiciatis delectus consectetur!</p>
                </article>
                <article class="padSm col4">
                    <figure class="mediaBox"><img class="imgRes" src="http://via.placeholder.com/800x400?text=ARTWORK" alt="Describe your Image">
                    <figcaption class="BGDrkTr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci omnis aliquid consequatur ullam recusandae.
                    </figcaption>
                    </figure>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit inventore quibusdam quisquam facere pariatur ab, tempora, magnam totam quidem atque obcaecati ipsum minima sequi ipsa, voluptate nam perspiciatis delectus consectetur!</p>
                </article>
                <article class="padSm col4">
                    <figure class="mediaBox"><img class="imgRes" src="http://via.placeholder.com/800x400?text=ARTWORK" alt="Describe your Image">
                    <figcaption class="BGDrkTr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci omnis aliquid consequatur ullam recusandae.
                    </figcaption>
                    </figure>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit inventore quibusdam quisquam facere pariatur ab, tempora, magnam totam quidem atque obcaecati ipsum minima sequi ipsa, voluptate nam perspiciatis delectus consectetur!</p>
                </article>
                <article class="padSm col4">
                    <figure class="mediaBox"><img class="imgRes" src="http://via.placeholder.com/800x400?text=ARTWORK" alt="Describe your Image">
                    <figcaption class="BGDrkTr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci omnis aliquid consequatur ullam recusandae.
                    </figcaption>
                    </figure>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit inventore quibusdam quisquam facere pariatur ab, tempora, magnam totam quidem atque obcaecati ipsum minima sequi ipsa, voluptate nam perspiciatis delec tus consectetur!</p>
                </article>
                <article class="padSm col4">
                    <figure class="mediaBox"><img class="imgRes" src="http://via.placeholder.com/800x400?text=ARTWORK" alt="Describe your Image">
                    <figcaption class="BGDrkTr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci omnis aliquid consequatur ullam recusandae.
                    </figcaption>
                    </figure>
                    <h3>Sapiente, maxime!</h3>
                    <p>Libero dolorum nulla ipsa a quos suscipit nostrum optio quia eligendi praesentium adipisci, et incidunt quis? Voluptate expedita, quod doloremque minima placeat praesentium officiis natus, dolor, vel consectetur distinctio delectus!</p>
                </article>
                <article class="padSm col4">
                    <figure class="mediaBox"><img class="imgRes" src="http://via.placeholder.com/800x400?text=ARTWORK" alt="Describe your Image">
                    <figcaption class="BGDrkTr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci omnis aliquid consequatur ullam recusandae.
                    </figcaption>
                    </figure>
                    <h3>Saepe, esse?</h3>
                    <p>Ea beatae eveniet culpa voluptas officia nam ipsam quae nemo, sapiente a dolore reiciendis magni dolorem maxime aliquam pariatur dignissimos enim nobis repudiandae quam. Nam omnis adipisci numquam cumque sed.</p>
                </article>
            </section>
            <section class="row vertMarLg BGLgt vertAlignCent">
                <article class="col6">
                    <figure>
                        <img class="imgRes" src="http://via.placeholder.com/1200x500?text=ARTWORK" alt="Artwork Name">
                    </figure>
                </article>
                <article class="col6 padSm">
                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore, dolor maiores, similique possimus culpa. Sed quasi deleniti voluptates, laboriosam nobis esse minus quia accusantium quo fugit ut incidunt eos!</p>
                </article>
            </section>
        </main>
        <footer class="padSm">
                <p class="centInline">
                    &copy; Copyright 2017 | Jon L Doe | All Rights Reserved 
                </p>
        </footer>
</body>
</html>
