/************************
Sets the main formatting for block level elements
*************************/

body {
    background-color: ;
    background-image: url();
    font-family: 'san francisco', roboto, Helvetica Nueu, Helvetica, Calibri, Arial, sans-serif;
}

nav,
header,
section,
article,
main,
div,
figcaption,
ul,
li {
    box-sizing: border-box;
    position: relative;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    line-height: 50%;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}


/************************* 
These rules control the nav bar
*************************/

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .25% 2%;
    line-height: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.mainNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mainNav li {
    margin: 0 2%;
    padding: .5% 0;
    text-transform: uppercase;
}

.mainNav li:hover {
    color: rgb(255, 255, 255);
}


/*************************

• • • STRUCTURE • • • STRUCTURE • • • STRUCTURE • • •
• • • STRUCTURE • • • STRUCTURE • • • STRUCTURE • • •

*************************/


/*************************
These rules control the row and column structure
*************************/

.row {
    display: flex;
    flex-direction: row;
    //flex-wrap: nowrap;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    //flex-wrap: nowrap;
    //justify-content: space-between;
}

.rowEq {
    flex: 1 1 0;
}

.multiRow {
    flex-wrap: wrap;
}

/*************************
These rules control centering of elements
*************************/

.centBlock {
    margin-right: auto;
    margin-left: auto;
}

.centInline {
    text-align: center;
}


/*************************
These rules control the structure of elements
*************************/

.active {
    display: none;
}

.imgRes {
    max-width: 100%;
}

.mediaBox {
    position: relative;
    overflow: hidden;
    width: auto;
}

.mediaBox figcaption {
    display: inline;
    width: auto;
    padding: 1%;
    margin: 0%;
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: -50%;
    transition: bottom 500ms;
}

.mediaBox:hover figcaption {
    bottom: 2%;
    transition: bottom 500ms;
}

.mediaBoxHero{
    width: 40%;
    padding: 1%;
    margin: 0%;
    position: absolute;
    z-index: 5;
    top:20%;
    right: 10%;
    background-color: rgba(255,255,255,.5);
    border-radius: 15px;
}

.padSm {
    padding: 1%;
}

.padMed {
    padding: 2%;
}

.padLg {
    padding: 3%;
}

.vertAlignCent {
    align-items: center;
}

.vertMarSm {
    margin-top: 1%;
    margin-bottom: 1%;
}

.vertMarMed {
    margin-top: 2%;
    margin-bottom: 2%;
}

.vertMarLg {
    margin-top: 3%;
    margin-bottom: 3%;
}

.botMarSm {
    margin-bottom: 1%;
}

.botMarMed {
    margin-bottom: 3%;
}

.botMarLg {
    margin-bottom: 5%;
}

.toggleNav {
    display: none;
    font-size: 2.5em;
}


/*************************

• • • SKINS • • • SKINS • • • SKINS • • •
• • • SKINS • • • SKINS • • • SKINS • • •

*************************/


/*************************
These rules control the element Backgrounds
*************************/

.BGLgt {
    background-color: rgba(220, 220, 220, 1);
}

.BGMed {
    background-color: rgba(100, 100, 100, 1);
}

.BGDrk {
    background-color: rgba(50, 50, 50, 1);
}

.BGDrkTr {
    background-color: rgba(50, 50, 50, .5);
}


/*************************
These rules control the borders 
*************************/

.borBotSmDrkDrk {}

.borBotMedDrk {
    border-bottom: solid rgba(50, 50, 50, 1) 2px;
}

.borBotLgDrk {}


/*************************

MEDIA QUERIES 

*************************/

@media screen and (max-width:1920px) {
    /*************************
    These rules set column length. This system operates on a 12 column grid
    *************************/
    .colAuto {
        width: auto;
    }
    .col12 {
        width: 98%;
    }
    .col11 {
        width: 89%;
    }
    .col10 {
        width: 81%;
    }
    .col9 {
        width: 73%;
    }
    .col8 {
        width: 65%;
    }
    .col7 {
        width: 57%;
    }
    .col6 {
        width: 49%;
    }
    .col5 {
        width: 41%;
    }
    .col4 {
        width: 32.7%;
    }
    .col3 {
        width: 24.5%;
    }
    .col2 {
        width: 16.3%
    }
    .col1 {
        width: 8.2%
    }
}

@media screen and (max-width:750px) {}

@media screen and (max-width:500px) {
    .noRow {}
    /******************************
    Sets the column Structure for Small Screens
    *******************************/
    .smMultiRow {
        flex-wrap: wrap;
    }
    .smColAuto {
        width: auto;
    }
    .smCol12 {
        width: 98%;
    }
    .smCol11 {
        width: 89%;
    }
    .smCol10 {
        width: 81%;
    }
    .smCol9 {
        width: 73%;
    }
    .smCol8 {
        width: 65%;
    }
    .smCol7 {
        width: 57%;
    }
    .smCol6 {
        width: 49%;
    }
    .smCol5 {
        width: 41%;
    }
    .smCol4 {
        width: 32.7%;
    }
    .smCol3 {
        width: 24.5%;
    }
    .smCol2 {
        width: 16.3%
    }
    .smCol1 {
        width: 8.2%
    }
    /*************************
    Mobile Navigation
    **************************/
    .smHide {
        display: none;
    }
    .toggleNav {
        display: block;
    }
    .mainNav {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: ;
        z-index: 50;
        padding: 1% 0 1% 2%;
    }
    .mainNav li {
        margin: 2% 0;
        width: 50%;
        //background-color: antiquewhite;
        padding: 5% 0;
    }
    .mainNav li:hover {
        color: rgb(255, 255, 255);
    }
    .smBotMarSm {
        margin-bottom: 3%;
    }
    .smTopMarSm {
        margin-top: 3%;
    }
    .mediaBoxHero{
        display: none;
    }
    .cellVert{
        display: block;
        width:100%;
        padding:0;
        margin-bottom: .5%;
        margin-top: 2%;
    }
}